.shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.products-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}