.products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue-shop {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.continue-shop:hover {
    background: black;
    color: white;
}


.product-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-info p {
    max-width: 250px;
    font-weight: bold;
    color: #333;
}

.product-info input[type="number"] {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
}

.product-info .delete {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.product-info .delete svg {
    color: #d9534f;
    transition: all 0.2s ease-in-out;
}

.product-info .delete:hover svg {
    color: #c9302c;
    transform: scale(1.1);
}


.products-total {
    margin-top: 15px;
}