a {
    text-decoration: none;
    color: rgb(71, 66, 66);
}
a:active {
    color: rgb(71, 66, 66);
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.shopButton {
    margin: 50px;
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 30px;
}
.shopButton a {
    font-size: 30px;
}