.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: linear-gradient(90deg, #00d2ff, #3a7bd5);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.header a {
    color: white;   
    cursor: pointer;
}