.navbar-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
    background-color: gray;
}

.navbar button {
    font-size: 20px;
    height: fit-content;
    border: 0px;
    cursor: pointer;
}